body, html {
	text-align:center;
	font-family: 'PT Sans', 'Lato';
}
a{ text-decoration: none;color: #DC143C;}
#headshot{
	position: relative;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url("images/me.png") no-repeat;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 0.1em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 0.1em rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 0.1em rgba(0, 0, 0, .8);
}
#bio{
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
	padding: 2em;
	box-sizing: border-box;
	color: #666;
}
#bio span{
	text-decoration: none;
	color: #DC143C;
}
#description{
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
#description span{
	text-decoration: none;
	color: #999;
	font-size: 163%;
	position: relative;

}
#description span:hover{
	 -webkit-transition: 1s ease;
		transition: 1s ease;
	text-decoration: underline;
	width: 30px;
}

@media screen and (max-width: 700px) {
	#headshot{
		width: 250px;
		height: 250px;
		border-radius: 125px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
	}
}
@media screen and (max-width: 520px) {
	#headshot{
		width: 200px;
		height: 200px;
		border-radius: 100px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
	}
}