body, html {
	text-align:center;
	margin: 0;
	padding: 0;
	font-family: 'Lato';
	overflow: auto;
	background-color: #C7C5BF;
}
li a{
	text-decoration: none;
	color: #C7C5BF;
	-o-transition:color .4s ease-out, background 1s ease-in;
	-ms-transition:color .4s ease-out, background 1s ease-in;
	-moz-transition:color .4s ease-out, background 1s ease-in;
	-webkit-transition:color .4s ease-out, background 1s ease-in;
	transition:color .4s ease-out, background 1s ease-in;
}
li a:hover{
	color: #EDECE6;
}
li{
	display: inline-block;
	margin: 1em 1em;
	font-size: 200%;
}

#bio a{
	text-decoration: none;
	color: #F2F1E9;
	font-size: 150%;
}
#bio a::before,
#bio a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

#bio a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

#bio a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

#bio a:hover::before,
#bio a:hover::after,
#bio a:focus::before,
#bio a:focus::after {
	opacity: 1;
	/*text-shadow: 1px 1px black;*/
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

#nav{
	position: absolute;
	width: 100%;
	height: 20%;
	background-color: black;
}
#bio{
	position: absolute;
	top: 50%;
	left: 60%;
}
#headshot{
	z-index: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 15%;
	width: 60%;
	height: 85%;
	background-image: url("images/headshot_o.png");
	background-repeat: no-repeat;
	background-size: contain;
	overflow: visible;
}

@media screen and (max-width: 770px) {
	#bio{
		top: 35%;
		width: 100%;
		left: 28%;
	}

@media screen and (max-width: 520px) {
	#nav{
		position: absolute;
		width: 100%;
		height: 35%;
		min-height: 35%;
		background-color: black;
	}
	#bio{
		top: 38%;
		width: 100%;
		left: 0;
	}
	#headshot{
		top: 67%;
	}
	li{
		margin: 0.4em 0;
		display: block;
	}
}