body, html {
	text-align:center;
	margin: 0;
	padding: 0;
	font-family: 'Lato';
	overflow: auto;
	background-color: #C7C5BF;
}

a{
	text-decoration: none;
	color: #C7C5BF;
	-o-transition:color .4s ease-out, background 1s ease-in;
	-ms-transition:color .4s ease-out, background 1s ease-in;
	-moz-transition:color .4s ease-out, background 1s ease-in;
	-webkit-transition:color .4s ease-out, background 1s ease-in;
	transition:color .4s ease-out, background 1s ease-in;
}
a:hover{
	color: #EDECE6;
	border-bottom: 2px solid #C7C5BF; 
}
li{
	display: inline-block;
	margin: 1em 1em;
	font-size: 200%;
}
#nav{
	position: absolute;
	width: 100%;
	height: 20%;
	background-color: black;
}
#bio{
	position: absolute;
	top: 50%;
	left: 60%;
	cursor: pointer; cursor: hand;
}
#headshot{
	z-index: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	top: 15%;
	width: 60%;
	height: 85%;
	background-image: url("images/headshot.png");
	background-repeat: no-repeat;
	background-size: contain;
	overflow: visible;
}
@media screen and (max-width: 510px) {
	#nav{
		position: absolute;
		width: 100%;
		height: 35%;
		min-height: 35%;
		background-color: black;
	}
	#bio{
		top: 38%;
		width: 100%;
		left: 0;
	}
	#headshot{
		top: 67%;
	}
	li{
		margin: 0.4em 0;
		display: block;
	}
}