body {
  font-family: 'PT Sans', 'Lato';
  text-align: center;
  color: #666; }

html {
  font-family: Lato;
  color: #666; }

h1 {
  color: #dc143c;
  text-align: left; }

h2 {
  color: #dc143c; }

p {
  font-size: 85%; }

.wrap {
  margin: 0 auto;
  width: 90%; }

.key {
/*  overflow: hidden;
  margin-bottom: 1em;
*/  text-align: center; color:whitesmoke;}
  .key ul {
    display: inline-block; }
  .key li {
    float: left;
    font-style: 0.7em;
    margin-right: 0.25em; }
    .key li span {
      padding:2px;
/*      display: inline-block;
      width: 2em;
      height: 4px;
      margin-right: 0.25em; */}
  .key .fdev {
    background: #999933; }
  .key .bdev {
    background: #663366; }
  .key .writer {
    background: #D4B16A; }
  .key .design, .key .ill {
    background: #666; }

.box {
  width: 100%;
  text-align: center;
  /*colors*/ }
  .container{ display: inline-block;}
  .box .sample {
    display: inline-block;
    overflow: hidden;
    position: relative;
    margin: 1em;
    background-size: cover;
    border: 4.5px solid gainsboro;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    min-height: 100px;
    min-width: 100px;
    /*		-webkit-transform: rotate(45deg);
    	    -moz-transform: rotate(45deg);
    	    -o-transform: rotate(45deg);
    	    -ms-transform: rotate(45deg);
    	    transform: rotate(45deg);*/ }
    .box .sample:hover .text {
      display: block; }
    .box .sample .text {
      display: none;
      width: 100%;
      height: 24%;
      bottom: 0;
      position: absolute;
      opacity: 0.8;
      background-color: gray;
      color: white;
      text-align: center; }
      .box .sample .text span {
        width: 60%;
        text-align: center;
        display: inline-block; }
  .box .fdev {
    border-color: #999933; }
  .box .bdev {
    border-color: #663366; }
  .box .design {
    border-color: #666; }
  .box .writer {
    border-color: #D4B16A; }
  .box .fdev.bdev {
    border-right-color: #999933;
    border-top-color: #999933;
    border-bottom-color: #663366;
    border-left-color: #663366; }
  .box .fdev.design {
    border-right-color: #999933;
    border-top-color: #999933;
    border-bottom-color: #666;
    border-left-color: #666; }
  .box .fdev.design.writer {
    border-right-color: #999933;
    border-top-color: #666;
    border-bottom-color: #D4B16A;
    border-left-color: gainsboro; }

.home {
  clear: both; }

/*lightbox*/
img#imgbox {
  position: fixed;
  z-index: 9999;
  -ms-touch-action: none;
  touch-action: none; }

@media only screen and (max-width: 780px) {
  .box .sample {
    height: 180px;
    width: 180px; } }
@media only screen and (max-width: 600px) and (min-width: 320px) {
  .wrap {
    width: 95%; }
  ul { padding:0;font-size:80%;}
  .key li span{padding:3px;}
  .box .sample {
    float: none;
    margin: 1em auto;
    display: block;
    border-radius: initial;
    /*no more circle magic*/
    height: 180px;
    width: 250px;
    border-width: 2px solid;
    /*dont do any animation shit*/ }
    .box .sample .text {
      display: block;
      padding: 5px 0;
      height: auto; }
      .box .sample .text .span {
        font-size: 60%; } }

/*# sourceMappingURL=work.css.map */
