html{
	width: 635px;
	font-family: 'Arial';
	color: #565656;
}
h1{
	text-align: center;
	/*font-family: 'NovecentoMedium';*/
}
p{
	text-align: center;	
	position: absolute;
	top: 20px;
	width: 600px;
	font-size: 13px;
}
text{
	fill: #565656;
	font-weight: bold;
	font-size: 15px;
}
div a {
	position: relative;
	float: left;
	right: -100px;
	padding: 4px 4px 3px 10px;
	outline: 1px solid gray;
	color: gray;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;
}
div a:hover,
div a:focus,
div a.clicked {
    border-bottom: 3px solid #b1372a; 
}
#view_selection{
	position: relative;
	width: 100%;
	height: 25px;
}
#about{
	width: 49.5%;
	position: absolute;
	top: 700px;
}
#all:hover,
#all.clicked{
	color: #1a709c;
	border-bottom-color: #1a709c;
}
#race:hover,
#race.clicked{
	color: #7676a6;
	border-bottom-color: #7676a6;
}
#age:hover,
#age.clicked{
	color: #D4BE50;
	border-bottom-color: #D4BE50;
}
#income:hover,
#income.clicked{
	color: #638c54;
	border-bottom-color: #638c54;
}
#borough:hover,
#borough.clicked{
	color: #b1372a;
	border-bottom-color: #b1372a;
}
#disability:hover,
#disability.clicked{
	color: #478d7e;
	border-bottom-color: #478d7e;
}			